#formdiv {
    padding-bottom: 5%;
    margin-left: 14%;
    margin-right: 14%;
    border-radius: 10.2px;
    box-shadow: 0 0 16px rgb(58,62,64);
  }
  
  .row1{
    margin-right:0px;
    margin-left:0px;
    padding-top:24px;
  }

  .row2{
    margin-right:0px;
    margin-left:0px;
    padding-top:24px;
    margin-top:10px;
  }
  .casillas{
    margin-left: 2%;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: rgb(67,69,71);
  }